/* /* Стили всплывающего окна по-умолчанию / */
.logoEBFnew{

    width: 520px !important;
}

.menucontacts{
    font-size: 22px !important;
}

.pix-content{
    margin-top: 15px;
}

.expirience{
    height: 260px;
    width: 350px;
}

/* цвет фона на отдельной странице expirience.html */
.bg-colour{
background-color: black;
}

